
.meme-card {
    width: 16rem; 
    height: 24rem; 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s; 
}


.meme-card-img {
    height: 15rem; 
     
}

.meme-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(8, 7, 7, 0.2); 
    
}
